.site-layout-background {
    background-color: #fff;
    height: calc(100vh - 134px);
}

.custom-sider {
    height: calc(100vh - 134px);
}

.login-btn {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.register-btn {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    margin-right: 4.8rem !important;
}