.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.centered-content {
    width: 100%;
    height: 75vh;
}

.no-info-content {
    font-size: 24px;
    font-weight: 600;
    color: var(--title-page);
}

.spinner-modal {
    display: flex;
    justify-content: center;
}

.item {
    text-align: center;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info p {
    font-size: 16px;
    text-align: justify;
    color: var(--title-page);
}